# Dependências
node_modules/

# Build (TypeScript)
dist/

# Variáveis de ambiente (Segurança)
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Arquivos do Sistema e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Específicos do projeto
.agent/
docs/
